# DB : MariaDB

## 홈페이지 https://downloads.mariadb.org

### 설치

1) 다운로드 된 프로그램 설치  
   * -> root 계정 패스워드 설정 
   * -> UTF-8 설정
   * -> 포트번호 확인 : 3306 (MySQL과 동일하다)
    
2) 환경변수 등록
   * -> C:\Program Files\MariaDB 10.5\bin
   
3) 동작확인
   * -> cmd에서 mysql -V 명령어로 버전이 출력되는 것을 확인(설치완료)

## DB명령어 특징
* 대소문자 구분 없음
* 라인의 마지막에는 반드시 세미콜론을 입력함

## database -> Excel File과 동일 

## Table -> Excel File안의 Sheet와 동일

##### SQL에서 DB와 테이블 만들고 조회하는 명령어

SHOW DATABASES;

CREATE DATABASE db이름;

SHOW DATABASES;

USE db이름;

CREATE TABLE customers (
    -> cust_id int(10),
    -> cust_name varchar(20),
    -> cust_birthday DATE,
    -> cust_address VARCHAR(40)
    -> );

SHOW TABLES;

INSERT INTO 테이블명 VALUES(1번값, 2번값, 3번값, ... );

SELECT * FROM 테이블명;

# SQL 문법의 종류 3가지

### 데이터 정의 언어 - (DDL : Data Definition Language)

테이블이나 관계의 구조를 생성하는데 사용하며 CREATE, ALTER, DROP, TRUNCATE 문 등이 있다.

* CREATE -

### 데이터 조작 언어 - (DML : Data Manipulation Language)

### 데이터 제어 언어 - (DCL : Data Control Language)

데이터의 사용 권환을 관리하는 데 사용하며 GRANT, REVOKE 문 등이 있다.

# 데이터베이스 종류

1) RDBMS (설치를 해야되는 db)

2) NoSQL (설치를 안해도 되는 db): sqlite3 (파이썬 내장됨)

# DB 작업 순서

DB 생성 -> DB 선택 -> TABLE 생성 -> DATA 작성 -> 조회

## NoSQL로 작업하기

In [1]:
import sqlite3

# 데이터베이스 객체 생성
# :memory: -> In-Memory (인-메모리) : DB작업을 RAM에서 수행한다.
con = sqlite3.connect(':memory:')
#con = sqlite3.connect('d:/weekend/sample.dump')

# 테이블 작성
query = '''CREATE TABLE customers (
            cust_id INT(10),
            cust_name VARCHAR(20),
            cust_address VARCHAR(40),
            cust_birthday DATE);'''

# 지정된 명령 실행
con.execute(query)

# 즉시 적용
con.commit()

# 데이터 작성
data = [(2001,'강유라','seoul','2000-1-1'),
        (2002,'김진수','jeju','2000-2-2'),
        (2003,'김진형','busan','2000-3-3'),
        (2004,'남도인','seoul','2000-4-4'),
        (2005,'이선아','jeju','2000-5-5'),
        (2006,'조예진','busan','2000-6-6'),
        (2007,'최인식','seoul','2000-7-7'),
        (2008,'황정우','jeju','2000-8-8'),
        (2009,'황호준','busan','2000-9-9'),]

statement = "INSERT INTO customers VALUES(?,?,?,?)"
con.executemany(statement, data)
con.commit()

cursor = con.execute("SELECT * FROM customers")
rows = cursor.fetchall()

row_counter = 0

for row in rows:
    print(row)
    row_counter += 1
    
print("-"*80)
print(f"Number of rows: {row_counter}")
print("-"*80)

(2001, '강유라', 'seoul', '2000-1-1')
(2002, '김진수', 'jeju', '2000-2-2')
(2003, '김진형', 'busan', '2000-3-3')
(2004, '남도인', 'seoul', '2000-4-4')
(2005, '이선아', 'jeju', '2000-5-5')
(2006, '조예진', 'busan', '2000-6-6')
(2007, '최인식', 'seoul', '2000-7-7')
(2008, '황정우', 'jeju', '2000-8-8')
(2009, '황호준', 'busan', '2000-9-9')
--------------------------------------------------------------------------------
Number of rows: 9
--------------------------------------------------------------------------------

## 테이블 생성후 데이터는 외부에서 삽입하기

In [2]:
import csv
import sqlite3
import sys

# input_file = sys.argv[1]  <- 이용해서 사용할 파일 직접 입력
input_file = './0712/DB/supplier_data.csv'

# 지정된 디렉토리에 지정된 이름의 DB 파일이 생성
con = sqlite3.connect('./0712/DB/Suppliers.db')
c = con.cursor()

create_table = '''CREATE TABLE IF NOT EXISTS Suppliers(
                Supplier_Name VARCHAR(20),
                Invoice_Number VARCHAR(20),
                Part_Number VARCHAR(20),
                Cost FLOAT,
                Purchase_Date DATE);'''

c.execute(create_table)
con.commit()

file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

for row in file_reader:
    data = []
    
    for column_index in range(len(header)):
        data.append(row[column_index])
    
    # print(data)
    c.execute("INSERT INTO Suppliers VALUES(?,?,?,?,?)", data)

con.commit()

output = c.execute("SELECT * FROM Suppliers")
rows = output.fetchall()

for row in rows:
    output = []
    
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
        
    # print(output)

In [3]:
import csv
import sqlite3
import sys

# input_file = sys.argv[1]  <- 이용해서 사용할 파일 직접 입력
input_file = './0712/DB/seoul_bus.csv'

# 지정된 디렉토리에 지정된 이름의 DB 파일이 생성
con = sqlite3.connect('./0712/DB/seoul_bus.db')
c = con.cursor()

create_table = '''CREATE TABLE IF NOT EXISTS SeoulBus(
                    "노선ID" VARCHAR(20),
                    "노선명" VARCHAR(20),
                    "순번" VARCHAR(20),
                    "구간ID" VARCHAR(20),
                    "정류소ID" VARCHAR(20),
                    "ARS-ID" INT(5),
                    "정류소명" VARCHAR(20),
                    "X좌표" FLOAT,
                    "Y좌표" FLOAT);'''

c.execute(create_table)
con.commit()

file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

for row in file_reader:
    data = []
    
    for column_index in range(len(header)):
        data.append(row[column_index])
    
    # print(data)
    c.execute("INSERT INTO SeoulBus VALUES(?,?,?,?,?,?,?,?,?)", data)

con.commit()

output = c.execute("SELECT * FROM SeoulBus")
rows = output.fetchall()

for row in rows:
    output = []
    
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
        
   # print(output)

# 실습 : 열린 데이터광장 -> 서울시 지하철 환승정보

### 데이터 수정하기 : update set

In [4]:
import csv
import sqlite3
import sys

#input_file = sys.argv[1]
input_file = './0712/DB/update_data.csv'

# 데이터베이스 객체 생성
# :memory: -> In-Memory (인-메모리) : DB작업을 RAM에서 수행한다.
con = sqlite3.connect(':memory:')
#con = sqlite3.connect('d:/weekend/sample.dump')

query = '''CREATE TABLE IF NOT EXISTS sales (
            customer VARCHAR(20),
            product VARCHAR(40),
            amount FLOAT,
            date DATE);'''

con.execute(query)
con.commit()

data = [(2001,'아파트',800000000,'2000-1-1'),
        (2002,'자동차',100000000,'2000-2-2'),
        (2003,'김진형',30,'2000-3-3'),
        (2004,'남도인',25,'2000-4-4'),
        (2005,'이선아',26,'2000-5-5'),
        (2006,'조예진',27,'2000-6-6'),
        (2007,'최인식',28,'2000-7-7'),
        (2008,'황정우',29,'2000-8-8'),
        (2009,'황호준',30,'2000-9-9'),]

for tuple in data:
    print(tuple)
statement = "INSERT INTO sales VALUES(?,?,?,?)"
con.executemany(statement, data)
con.commit()

file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

for row in file_reader:
    data =[]
    for column_index in range(len(header)):
        data.append(row[column_index])
    print(data)
    con.execute("UPDATE sales SET amount=?, date=? WHERE customer=?;", data)
con.commit()

cursor = con.execute("SELECT * FROM sales")
rows = cursor.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

(2001, '아파트', 800000000, '2000-1-1')
(2002, '자동차', 100000000, '2000-2-2')
(2003, '김진형', 30, '2000-3-3')
(2004, '남도인', 25, '2000-4-4')
(2005, '이선아', 26, '2000-5-5')
(2006, '조예진', 27, '2000-6-6')
(2007, '최인식', 28, '2000-7-7')
(2008, '황정우', 29, '2000-8-8')
(2009, '황호준', 30, '2000-9-9')
['700000000', '7/11/2021', '2001']
['31', '4/16/2021', '2003']
['700', '20-12-31', '2004']
['2001', '아파트', '700000000.0', '7/11/2021']
['2002', '자동차', '100000000.0', '2000-2-2']
['2003', '김진형', '31.0', '4/16/2021']
['2004', '남도인', '700.0', '20-12-31']
['2005', '이선아', '26.0', '2000-5-5']
['2006', '조예진', '27.0', '2000-6-6']
['2007', '최인식', '28.0', '2000-7-7']
['2008', '황정우', '29.0', '2000-8-8']
['2009', '황호준', '30.0', '2000-9-9']

In [6]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\tj\appdata\local\programs\python\python38\lib\site-packages (1.4.6)

In [9]:
!pip install mysql

Requirement already satisfied: mysql in c:\users\tj\appdata\local\programs\python\python38\lib\site-packages (0.0.2)
Requirement already satisfied: mysqlclient in c:\users\tj\appdata\local\programs\python\python38\lib\site-packages (from mysql) (1.4.6)

# CSV 파일을 이용하여 MariaDB에 데이터 작성하기

In [42]:
import csv
import sqlite3
import MySQLdb
import sys
from datetime import datetime, date

# input_file = sys.argv[1]
input_file = './0712/DB/supplier_data.csv'

con = MySQLdb.connect(host='localhost', port=3306, db='kjh', 
                      user='root', passwd='root')
c = con.cursor()

file_reader = csv.reader(open(input_file, 'r', encoding='utf-8'), delimiter=',')
header = next(file_reader, None)

for row in file_reader:
    data = []
    
    for column_index in range(len(header)):
        if column_index < 4:
            data.append(str(row[column_index]).lstrip('$').replace(',', '').strip())
        else:
            a_date = datetime.date(datetime.strptime(str(row[column_index]), '%m/%d/%y'))
            a_date = a_date.strftime('%Y-%m-%d')
            data.append(a_date)
    
    print(data)
    c.execute("""INSERT INTO suppl VALUES(%s,%s,%s,%s,%s);""", data)
con.commit()

c.execute("""SELECT * FROM suppl;""")
rows = c.fetchall()

for row in rows:
    row_list_output = []
    
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    
    print(row_list_output)

['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.00', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.00', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-17']
['Supplier Y', '50-9505', '6650', '125.00', '2014-02-17']
['Supplier Z', '920-4803', '3321', '615.00', '2014-02-17']
['Supplier Z', '920-4804', '3321', '615.00', '2014-02-17']
['Supplier Z', '920-4805', '3321', '615.00', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.00', '2014-02-24']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-17']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-17']
['Supplier Z', '920-4803', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4804', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4805', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.0', '2014-02-24']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '2341', '500.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier X', '001-1001', '5467', '750.0', '2014-01-20']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9501', '7009', '250.0', '2014-01-30']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-17']
['Supplier Y', '50-9505', '6650', '125.0', '2014-02-17']
['Supplier Z', '920-4803', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4804', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4805', '3321', '615.0', '2014-02-17']
['Supplier Z', '920-4806', '3321', '615.0', '2014-02-24']

In [53]:
import csv
import sqlite3
import MySQLdb
import sys
from datetime import datetime, date

# input_file = sys.argv[1]
input_file = './0712/DB/seoul_bus.csv'

con = MySQLdb.connect(host='localhost', port=3306, db='kjh', 
                      user='root', passwd='root')
c = con.cursor()

file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
header = next(file_reader, None)

for row in file_reader:
    data = []
    
    for column_index in range(len(header)):
        data.append(row[column_index])
        
    print(data)
    c.execute("""INSERT INTO bus VALUES (?,?,?,?,?,?,?,?,?);""", data)
con.commit()

c.execute("""SELECT * FROM bus;""")
rows = c.fetchall()

for row in rows:
    row_list_output = []
    
    for column_index in range(len(row)):
        row_list_output.append(str(row[column_index]))
    
   # print(row_list_output)

['100100124', '0017', '1', '0', '102000271', '03689', '청암자이아파트', '126.9465174884', '37.5343626071']

UnicodeEncodeError: 'charmap' codec can't encode characters in position 0-6: character maps to <undefined>

In [ ]:
# Suppliers 테이블에서 특정 레코드를 검색한 후 결과를 CSV 파일로 저장한다.

#!/usr/bin/env python3
import csv
import MySQLdb
import sys

# 저장할 CSV 파일명을 입력한다.
output_file = sys.argv[1]


# 접속할 DB 정보 입력
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='user1', passwd='user1')
c = con.cursor()


# 헤더 정렬 및 CSV 파일 저장
filewriter = csv.writer(open(output_file, 'w', newline=''), delimiter=',')
header = ['Supplier Name','Invoice Number','Part Number','Cost','Purchase Date']
filewriter.writerow(header)


# 조건 설정
c.execute("""SELECT * 
        FROM Suppliers 
        WHERE Cost > 700.0;""")

rows = c.fetchall()
for row in rows:
    filewriter.writerow(row)

'''
저장후 명령프롬프트(CMD)에서 아래의 명령을 실행한다 (경로까지 지정)
cmd> python 5db_write_to_file.py  5output.csv

'''

In [ ]:
#!/usr/bin/env python3
import csv
import MySQLdb
import sys

# Path to and name of a CSV input file
input_file = sys.argv[1]

# Connect to a MySQL database
con = MySQLdb.connect(host='localhost', port=3306, db='my_suppliers', user='root', passwd='toor')
c = con.cursor()

# Read the CSV file and update the specific rows
file_reader = csv.reader(open(input_file, 'r', newline=''), delimiter=',')
header = next(file_reader, None)
for row in file_reader:
    data = []
    for column_index in range(len(header)):
        data.append(str(row[column_index]).strip())
    print(data)
    c.execute("""UPDATE Suppliers SET Cost=%s, Purchase_Date=%s WHERE Supplier_Name=%s;""", data)
con.commit()

# Query the Suppliers table
c.execute("SELECT * FROM Suppliers")
rows = c.fetchall()
for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)